#Services
{
    margin-top: 25px;
}

.serviceItem
{
    padding-top: 10px;
    border-bottom: 1px solid black;
}
.serviceItem:hover
{
    background-color: rgb(211, 209, 209);
    cursor: pointer;
}

#About
{
    border-bottom: 1px solid black;
}

.serviceItem a
{
    color: black;
    text-decoration: none;
}