body
{
    /*Padding on top for fixed nav*/
    padding-top: 100px;
}
nav
{
    background-color: #58b2f2;
}

@media only screen and (max-width: 768px)
{ /*Special CSS for phones and tablets*/
    body 
    {
        padding-top: 150px;
    }
}