.carousel-inner img
{
    width: 100%;
    height: 100%;
}

#team h3
{
    text-align: center;
}

#team card
{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#indexAbout
{
    padding-top: 50px;
    padding-bottom: 50px;
}